<h6 style="text-align:right; font-weight:bold; color:#232BDB">마이페이지 > 회원정보수정</h6>
<br />

<form #updatePerson="ngForm" (ngSubmit)="updateProfile(updatePerson)" name="profileForm">
  <div class="row">
    <div class="col-md-8 mb-3">
      <label for="userName">회원이름</label>
      <input type="text" class="form-control is-valid" id="userName" [(ngModel)]="loggedUser.uname"
        name="userName" #userName="ngModel" [disabled]="true">
        <!-- 삭제한속성 : (ngModelChange)="enbUpdBut = !enbUpdBut" / [(ngClass)] : 초록색테두리 / required-->
      <div class="invalid-feedback">
        username is Mandatory.
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <label for="userId">아이디</label>
      <input type="text" class="form-control is-valid" id="userId" [disabled]="true" name="userId" [(ngModel)]="loggedUser.uid">
    </div>
    <div class="col-md-8 mb-3">
      <label for="userJoindate">가입일</label>
      <input type="text" class="form-control is-valid" id="userJoindate" name="userJoindate" [(ngModel)]="loggedUser.ujoindate" [disabled]="true">
    </div>
    <div class="col-md-8 mb-3">
      <label for="userPwd">비밀번호</label>
      <input type="password" class="form-control" id="userPwd" name="userPwd" [(ngModel)]="loggedUser.upw">
    </div>
    <div class="col-md-8 mb-3">
      <label for="userPhone">연락처</label>
      <input type="tel" class="form-control" id="userPhone" name="userPhone" [(ngModel)]="loggedUser.uphone"> <!--#phoneNumber="ngModel" (ngModelChange)="enbUpdBut = !enbUpdBut" 지운속성-->
    </div>
    <div class="col-md-8 mb-3">
      <label for="userAddr1">기본주소</label>
      <input type="text" class="form-control" id="userAddr1" name="userAddr1" [(ngModel)]="loggedUser.uaddr1">
    </div>
    <div class="col-md-8 mb-3">
      <label for="userAddr2">추가주소</label>
      <input type="text" class="form-control" id="userAddr2" name="userAddr2" [(ngModel)]="loggedUser.uaddr2">
    </div>
    <div class="col-md-8 mb-3">
      <label for="userAddr3">추가주소 2</label>
      <input type="text" class="form-control" id="userAddr3" name="userAddr3" [(ngModel)]="loggedUser.uaddr3">
    </div>
    <!-- selectbox로 고쳐야함 -->
    <div class="col-md-8 mb-3">
      <label for="userBirth">생년월일</label>
      <input type="text" class="form-control" id="userBirth" name="userBirth" [(ngModel)]="loggedUser.ubirth">
    </div>
    <div class="col-md-8 mb-3">
      <label for="userAddrcheck">주소선택란</label>
      <br />
      <select class="mdb-select" [(ngModel)]="loggedUser.uaddrcheck" name="userAddrcheck" id="userAddrcheck" style="width:100%;">
        <option value="" disabled selected>기본적으로 사용할 주소지를 선택해주세요</option>
        <option value=1>&nbsp;기본주소</option>
        <option value=2>&nbsp;추가주소</option>
        <option value=3>&nbsp;추가주소 2</option>
      </select>
    </div>
    <div class="col-md-8 mb-3">
      <label for="userGender">성별</label>
      <br />
      <select class="mdb-select" [(ngModel)]="loggedUser.ugender" name="userGender" id="userGender" style="width:100%;">
        <option value="" disabled selected>성별을 선택해주세요</option>
        <option value="M">&nbsp;남자</option>
        <option value="F">&nbsp;여자</option>
      </select>
    </div>
    <div class="col-md-8 mb-3">
      <label for="userSmsyn">SMS 수신여부</label>
      <br />
      <select class="mdb-select" [(ngModel)]="loggedUser.usmsyn" name="userSmsyn" id="userSmsyn" style="width:100%;">
        <option value="" disabled selected>SMS를 통해 정보를 받으시겠습니까 ?</option>
        <option value="Y">&nbsp;예</option>
        <option value="N">&nbsp;아니오</option>
      </select>
    </div>
    <div class="col-md-8 mb-3">
      <label for="userEmailyn">Email 수신여부</label>
      <br />
      <select class="mdb-select" [(ngModel)]="loggedUser.uemailyn" name="userEmailyn" id="userEmailyn" style="width:100%;">
        <option value="" disabled selected>Email을 통해 정보를 받으시겠습니까 ?</option>
        <option value="Y" >&nbsp;예</option>
        <option value="N">&nbsp;아니오</option>
      </select>
    </div>

    <!-- input으로 했을때 -->
    <!-- <div class="col-md-8 mb-3">
      <label for="userBirth">성별</label>
      <input type="text" class="form-control" name="userBirth" [(ngModel)]="userService.loginUser.ubirth">
    </div> -->

    <!-- <div class="col-md-8 mb-3">
      <label for="userBirth">SMS 수신여부</label>
      <input type="text" class="form-control" name="userBirth" [(ngModel)]="userService.loginUser.ubirth">
    </div> -->

    <!-- <div class="col-md-8 mb-3">
      <label for="userEmailyn">이메일 수신여부</label>
      <input type="text" class="form-control" id="userEmailyn" name="userBirth" [(ngModel)]="userService.loginUser.ubirth">
    </div> -->
  </div>
  <!--
  <div class="row">
    <div class="col-md-8 mb-8">
      <label for="cpresent">Current Password</label>
      <input type="text" class="form-control is-invalid" id="cpresent" placeholder="City" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
     <div class="col-md-8 mb-8">
      <label for="npresent">New Password</label>
      <input type="text" class="form-control is-invalid" id="npresent" placeholder="State" required>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <label for="cnpresent">Confirm Password</label>
      <input type="text" class="form-control is-invalid" id="cnpresent" placeholder="Zip" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>
 -->
  <button class="btn btn-primary" type="submit" style="margin-left:320px">정보수정하기</button>
</form>
