<!-- <div class="container">
<div class="row">
	 <br>
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12 col-xs-12 col-md-push-12 col-sm-push-12">

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 col-md-pull-12 col-sm-pull-12"> -->
<!--SHIPPING METHOD-->
<!-- <div class="panel panel-default">
                        <div class="panel-heading text-center"><h4>주문 조회</h4></div>
                        <div class="panel-body">
                           <table class="table borderless">
    						<thead>
                                <tr> -->
<!-- <td><strong>Your Cart: # item</strong></td> -->
<!-- <td>일자</td>
        							<td>이미지&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;상품설명</td>
        							<td>가격</td>
        							<td>수량</td>
        							<td>상태</td>
                                </tr>
    						</thead>
    						<tbody> -->

<!-- <tr *ngFor="let item of cartList"> -->
<!-- <td class="col-md-3"> -->
<!-- <tr *ngFor="let order of orderLists">
                    <td>{{order.odate}}</td>
                    <div *ngFor="let detail of detailLists">
                      <td>
      								    <div class="media">
      								         <a class="thumbnail pull-left" href="#"> <img class="media-object" src="./assets/ProductImg/{{item.p_img}}.jpg" style="width: 72px; height: 72px;"> </a>
      								         <div class="media-body">
      								             <h5 class="media-heading"> {{detail.odpname}}</h5>
      								         </div>
      								    </div>
      								</td>
      								<td>{{detail.odpprice}}</td>
      								<td>&nbsp;&nbsp;&nbsp;{{detail.odpamount}}&nbsp;&nbsp;&nbsp;</td>
                      <td>{{detail.odpprice*detail.odpamount}}</td>
                      <td>status</td>
                    </div>
    							</tr>

    						</tbody>
    					</table>
                        </div>
                    </div> -->
<!--SHIPPING METHOD END-->
<!-- </div>
                </div>
                </div>
</div> -->

<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell">일자</div>
      <div class="divTableCell">이미지</div>
      <div class="divTableCell">제목</div>
      <div class="divTableCell">수량</div>
      <div class="divTableCell">가격</div>
      <div class="divTableCell">상태</div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
    </div>
  </div>
</div>
<!-- DivTable.com -->

<!-- 배송지 -->

<!-- <div class="panel-body">
                                       <div class="form-group">
                                           <div class="col-md-12">
                                               <div class="panel-heading text-center"><h4>배송지 정보</h4></div>
                                           </div>
                                       </div>
                                       <div class="form-group">
                                           <div class="span1"></div>
                                           <div class="col-md-6 col-xs-12">
                                               <strong>이름</strong>
                                               <input type="text" name="last_name" class="form-control" value="{{loggedUser.uname}}" />
                                           </div>
                                       </div>
                                       <div class="form-group">
                                           <div class="col-md-12"><strong>일회용 주소</strong>
                                             <input type="checkbox" (ngModel)='addrCheck4' (change)='addrCheckF4()'/>
                                           </div>
                                           <div class="col-md-12">
                                               <input type="text" name="address4" class="form-control" [(ngModel)]='oneUseAddr' />
                                           </div>
                                       </div>
                                       <div class="form-group">
                                           <div class="col-md-12"><strong>연락처</strong></div>
                                           <div class="col-md-12"><input type="text" name="phone_number" class="form-control" value="{{loggedUser.uphone}}" /></div>
                                       </div>
                                       <div class="form-group">
                                           <div class="col-md-12"><strong>이메일</strong></div>
                                           <div class="col-md-12"><input type="text" name="email_address" class="form-control" value="{{loggedUser.uid}}" /></div>
                                       </div>
                                   </div> -->

<!-- 배송지 끝 -->
