<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo scrolling-navbar">
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': select==='Home'}" (click)="select='Home'">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="[ '/' ]">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': select==='Our Products'}" (click)="select='Our Products'">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="[ '/products/all-products' ]">Our Products</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAdmin()" [ngClass]="{'active': select==='관리자'}" (click)="select='관리자'">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="[ '/admin' ]">관리자</a>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <ng-template #favCountNotLogged>
          <a class="nav-link" href="javascript:;;" [routerLink]="['/index/favourites']">
            <i class="fa fa-heart">
            </i>
          </a>
        </ng-template>

      </li>
      <li class="nav-item">
        <ng-template #cartCountNotLogged>
          <a class="nav-link" href="javascript:;;" [routerLink]="['/index/cartItems']">
            <i class="fa fa-shopping-cart">
            </i>
          </a>
        </ng-template>
      </li>


      <li class="nav-item" *ngIf="!authService.isLoggedIn() && !authService.isAdmin()" [ngClass]="{'active': select==='Login'}" (click)="select='Login'">
        <a class="nav-link" [routerLink]="[ '/index/login' ]">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Login
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown btn-group" *ngIf="!authService.isAdmin()" dropdown [ngClass]="{'active': select==='고객센터'}" (click)="select='고객센터'">
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>고객센터
        </a>
        <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
          <a class="dropdown-item" [routerLink]="['/notice']">공지사항</a>
          <a class="dropdown-item" [routerLink]="['/notice/faq']">자주하는 질문</a>
          <a class="dropdown-item" [routerLink]="['/notice/qna']">1:1 질문하기</a>
        </div>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdmin()" [ngClass]="{'active': select==='My Page'}" (click)="select='My Page'">
        <a class="nav-link" [routerLink]="['/users']">
          <i class="fa fa-user"></i>My Page</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdmin()"  (click)="select='Home'">
       <a class="nav-link" (click)="logout()">
         <i class="fa fa-sign-in"></i>Logout</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAdmin()">
       <a class="nav-link" (click)="adminlogout()">
         <i class="fa fa-sign-in"></i>관리자 로그아웃</a>
      </li>
    </ul>
  </links>

</mdb-navbar>
<!--/.Navbar-->
