<hr class="between-sections">

<div class="card card-cascade wider reverse">

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>상품 후기 쓰기</strong></h4>
  </div>

</div>

<hr class="between-sections">

<!-- Default form contact -->
<form (ngSubmit)="insertProductReview()">
  <!--Table-->
  <table class="table table-bordered">
    <!--Table body-->
    <tbody>
      <tr>
        <th>제목</th>
        <td>
          <input type="text" id="exampleForm2" class="form-control" placeholder="제목을 입력해주세요." required [(ngModel)]="review.rev_title" [ngModelOptions]="{standalone: true}" />
        </td>
      </tr>
      <tr [hidden]=true>
        <th>작성자</th>
        <td>
          <input type="text" id="exampleForm2" class="form-control" required [(ngModel)]="review.u_id" [ngModelOptions]="{standalone: true}" />
        </td>
      </tr>
      <tr>
        <th colspan="1">후기 내용</th>
        <td colspan="2">
          <textarea name="ReviewContent" rows="8" cols="150" placeholder="내용을 입력해주세요." class="form-control" required [(ngModel)]="review.rev_content" [ngModelOptions]="{standalone: true}"></textarea>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center mt-4" [hidden]="submit">
    <button type="submit" class="btn btn-outline-danger waves-effect">등록</button>
    <button type="button" class="btn btn-outline-info waves-effect" [routerLink]="['/products/product', review.p_code]">취소</button>
  </div>
</form>
