#qna_button {
  float: right;
}

#qna_insert_button {
  float: right;
}

#qns_cancle_button {
  float: right;
}

ol li {
  font-weight: bold;
}

thead tr th {
  font-weight: bold;
  text-align: center;
}

tbody tr:hover {
  background-color: #FF9090;
}

tbody tr a:hover {
  color: white;
}

tbody tr th {
  text-align: center;
}

button {
  font-weight: bold;
  font-size: 0.8em;
}

form button {
  font-weight: bold;
  font-size: 0.8em;
}
