<hr class="between-sections">

<div class="card card-cascade wider reverse">

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>자주하는 질문</strong></h4>
  </div>

</div>

<hr class="between-sections">

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/index']">Home</a>
  </li>
  <li class="breadcrumb-item">고객센터</li>
  <li class="breadcrumb-item">자주하는 질문</li>
</ol>

<!--Table-->
<table class="table">
    <!--Table head-->
    <thead class="table-success">
        <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr *ngFor="let faq of faqs">
            <th scope="row">{{ faq.f_no }}</th>
            <th>{{ faq.f_category }}</th>
            <th>
              <a [routerLink]="['/detail/faq']" routerLinkActive="router-link-active"
                  (click)="setFaqNo(faq.f_no)">{{ faq.f_title }}
              </a>
            </th>
            <th>{{ faq.a_id }}</th>
            <th>{{ faq.f_date }}</th>
            <th>{{ faq.f_hits }}</th>
        </tr>
    </tbody>
    <!--Table body-->
</table>

<div class="input-group md-form form-sm form-1 pl-0">
    <div class="input-group-prepend">
        <span class="input-group-text cyan lighten-2" id="basic-text1">
          <i class="fa fa-search text-white" aria-hidden="true"></i>
        </span>
    </div>
    <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
</div>
