ol li {
  font-weight: bold;
}

thead tr th {
  font-weight: bold;
  text-align: center;
}

tbody tr:hover {
  background-color: #FF9090;
}

tbody tr a:hover {
  color: white;
}

tbody tr th {
  text-align: center;
}

form button {
  font-weight: bold;
  font-size: 0.8em;
}

#selectDiv {
  padding-top: 0px;
  padding-bottom: 10px;
}
