<br>
<div class="container">
  <!-- <div class="row" *ngIf="authService.isAdmin()">
    <div class="col-sm">
      <div class="float-right">
        <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#exampleModalLong">
          Add Product
        </button>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="kind_select">By Kinds:</label>
        <select class="form-control" name="" id="kind_select" [(ngModel)]="selectedKind">
          <option *ngFor="let kind of kinds">{{kind}}</option>
        </select>
      </div>
      <ul class="list-group font-weight-bold">
        <li class="list-group-item">오늘 날짜 : {{ currentDate | date }}</li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <!-- List of Products -->
          <div class="col-sm-4 mb-2" *ngFor="let product of productList | filterByKind: selectedKind | paginate: { itemsPerPage: 6, currentPage: page }">
            <div class="item">
              <div class=" mb-r">
                <!--Card-->
                <div class="card card-cascade wider">
                  <!--Card image-->

                  <!-- <a [routerLink]="['/products', product.p_kind]">
                    <div class="view overlay hm-white-slight">
                      <img [src]="product.productImageUrl" class="img-fluid" alt="" width="360px" height="640px">
                      <p>{{p_name}}</p>
                      <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                      </a>
                    </div>
                  </a> -->
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & Title-->
                    <a class="text-muted">
                      <!-- <h5>{{ product.p_content }}</h5> -->


                      <div>

                        <a [routerLink]="['/products/product', product.p_code]" routerLinkActive="router-link-active" (click)="setProductCode(product.p_code)">
                              <img src="./assets/ProductImg/{{product.p_img}}.jpg" class="product_image" width="200px" height="200px"/>
                        </a>
                      </div>
                    </a>
                    <p class="card-title">
                      <strong>
                        <a [routerLink]="['/products/product', product.p_code]" routerLinkActive="router-link-active" (click)="setProductCode(product.p_code)">{{ product.p_name }}</a>
                      </strong>
                    </p>
                    <!--Description-->
                    <p class="card-text">{{ product.p_content }}
                    </p>
                    <!--Card footer-->
                    <div class="card-footer">
                      <span class="left">{{ product.p_sellPrice}} 원</span>
                      <span class="right">
                        <a placement="top" mdbTooltip="Quick Look" container="body" [routerLink]="['/products/product', product.p_code]">
                          <i class="fa fa-eye"></i>
                        </a>
                        <a placement="top" mdbTooltip="Add to Cart" container="body" (click)="addToCart(product)">
                          <i class="fa fa-shopping-cart"></i>
                        </a>
                        <!-- <a placement="top" mdbTooltip="Remove Product" container="body" *ngIf="authService.isAdmin()" (click)="removeProduct(product.$key)">
                          <i class="fa fa-trash"></i>
                        </a> -->
                      </span>
                    </div>

                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->

              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <div class="text-center mt-3">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
<app-add-product></app-add-product>
<ng2-toasty></ng2-toasty>
