<!-- <div *ngIf="products.length > 0"> -->
<h6 style="text-align:right; font-weight:bold; color:#232BDB">마이페이지 > 장바구니</h6>
<br />
<div *ngIf='cartList.length>0'>
  <div class="row">
    <!-- List of Products -->
    <!-- <div class="col-sm-4" *ngFor="let cartItem of products | paginate: { itemsPerPage: 6, currentPage: page }"> -->
    <div class="col-sm-4" *ngFor="let cartItem of cartList | paginate: { itemsPerPage: 6, currentPage: page }">

      <div class="item">
        <div class=" mb-r">

          <!--Card-->
          <div class="card card-cascade wider">

            <!--Card image-->
            <a [routerLink]="['/products/product', cartItem.productId]">

              <div class="view overlay hm-white-slight">
                <img src="./assets/img/{{cartItem.p_img}}.jpg" class="img-fluid" alt="" width="360px" height="640px">
                <a>
                  <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                </a>
              </div>
            </a>

            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a class="text-muted">
                <h5>{{cartItem.p_kind}}</h5>
              </a>
              <p class="card-title">
                <strong>
                  <a [routerLink]="['/products/product', cartItem.productId]" routerLinkActive="router-link-active">{{ cartItem.p_name }}</a>
                </strong>
              </p>

              <!--Description-->
              <p class="card-text">{{cartItem.p_content}}
              </p>

              <!--Card footer-->
              <div class="card-footer">

                <!-- <span class="left">수량 : {{cartItem.camount}}
                  <a placement="top" mdbTooltip="Remove Product" container="body" (click)="removeFromCart(cartItem.cno)">
                    <i class="fa fa-edit prefix"></i>
                  </a>
                </span> -->
                <div class="count-input space-bottom">
                  <span class="left"><p style="float:left;">수량 : &nbsp;</p>
                                <input class="quantity" type="text" name="quantity" [(ngModel)]="cartItem.camount" />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a (click)="updateCart(cartItem)">
                                  <i class="fa fa-edit prefix"></i>
                                </a>
                  </span>
                </div>
                <br />
                <span class="left">금액 : {{cartItem.p_sellprice*cartItem.camount}}원</span>
                <!-- <span class="right" *ngIf="authService.isLoggedIn()"> -->

                <span class="right">
                  <a placement="top" mdbTooltip="Remove Product" container="body" (click)="removeFromCart(cartItem.cno)">
                    <i class="fa fa-trash"></i>
                  </a>
                </span>
                <input type="checkbox" (change)='pushCno($event, cartItem.cno)' />
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
    </div>
  </div>

  <hr class="between-sections">

  <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="gotoOrderWirte()">
    구매하기
  </button>

  <hr class="between-sections">

  <div class="text-center">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<!-- <div *ngIf="products.length == 0"> -->
<div *ngIf="cartList.length==0">
  <app-no-products-found [title]="messageTitle" [description]="messageDescription"></app-no-products-found>
</div>
