#delete_button{
  float : right;
}

#update_button{
  float : right;
}
#back_button{
  float : left;
}


ol li {
  font-weight: bold;
}

tbody th {

  text-align: center;
  font-weight: bold;
  background-color: rgb(245,198,203);

}

.reply{
    background-color: rgb(245,198,203);
}
