<br /><br />
<section class="container" style="position:relative;">
  <!-- Login form -->
  <div class="col-sm-6" style="margin:auto;">
    <form style="width:22rem" #loginForm="ngForm" (ngSubmit)="login()">
      <p class="h5 text-center mb-4">Sign in</p>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input mdbActive type="text" id="loginUserId" class="form-control" name="uid" [(ngModel)]="login1.uid" mdbInputValidate [email]="true">
        <label for="userId">Your ID</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="userPassword" name="upw" [(ngModel)]="login1.upw" class="form-control" mdbActive>
        <label for="defaultForm-pass">Your password</label>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary waves-light" id="loginButton" mdbRippleRadius>Login</button>
      </div>
    </form>
    <!-- 로그인 폼 끝-->

    <!-- 모달 활성화 링크들 -->
    <br />
    <br />
    <br />
    <p>회원이 아니십니까?
      <a data-toggle="modal" data-target="#createUserForm" style="color:dodgerblue; font-weight:bold;">회원가입하기</a>
    </p>
    <p>아이디를 분실하셨나요?
      <a data-toggle="modal" data-target="#FindUserIDInfoForm" style="color:dodgerblue; font-weight:bold;">아이디찾기</a>
    </p>
    <p>비밀번호를 분실하셨나요?
      <a data-toggle="modal" data-target="#FindUserPWInfoForm" style="color:dodgerblue; font-weight:bold;">비밀번호찾기</a>
    </p>
  </div>
  <br>


  <!--회원가입폼 (모달)-->
  <div class="modal fade" id="createUserForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog cascading-modal" role="document">
      <form #userForm="ngForm" (ngSubmit)="addUser(userForm)" name="JoinForm">
        <div class="modal-content">

          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title">
              <i class="fa fa-user-plus"></i> 회원가입</h4>
            <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <!-- mdbInputValidate: 만족하면 success, 실패하면 false. 글씨가 뜨게해주는 속성 삭제 -->
          <div class="modal-body">
            <div class="md-form form-sm">
              <i class="fa fa-envelope prefix"></i>
              <input mdbActive type="text" id="userId" class="form-control" name="uid" [(ngModel)]="createUser.uid">
              <label for="userId">아이디(20자이내)</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-lock prefix"></i>
              <input mdbActive type="password" id="userPw" class="form-control" [(ngModel)]="createUser.upw" name="upw" >
              <label for="userPw">비밀번호(10자이내)</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-lock prefix"></i>
              <input mdbActive type="password" id="userPw2" class="form-control" name="upw2" [(ngModel)]="upw2">
              <label for="userPw2">비밀번호 확인</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-user prefix"></i>
              <input mdbActive type="text" id="userName" class="form-control"  [(ngModel)]="createUser.uname" name="uname">
              <label for="userName">이름(10자이내)</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-phone prefix"></i>
              <input mdbActive type="text" id="userPhone" class="form-control"  [(ngModel)]="createUser.uphone" name="uphone">
              <label for="userPhone">연락처( '-' 제외, 숫자만입력)</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-map-marker prefix"></i>
              <input mdbActive type="text" id="userAddr1" class="form-control"  [(ngModel)]="createUser.uaddr1" name="uaddr1">
              <label for="userAddr1">주소(100자이내)</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-calendar prefix"></i>
              <input mdbActive type="text" id="userBirth" class="form-control"  [(ngModel)]="createUser.ubirth" name="ubirth" >
              <label for="userBirth">생년월일(주민등록번호 앞6자리만 입력)</label>
            </div>

            <div class="md-form form-sm">
              <i class="fa fa-transgender prefix"></i>
              <select class="mdb-select" [(ngModel)]="createUser.ugender" name="ugender" id="ugenderlist" style="margin-left:180px; margin-top:10px; width:100px;" >
                <option value="" disabled selected>성별을 선택해주세요</option>
                <option value="M">남자</option>
                <option value="F">여자</option>
              </select>
              <label for="ugenderlist">성별</label>
            </div>

            <div class="md-form form-sm">
              <i class="fa fa-twitter-square prefix"></i>
              <select class="mdb-select" [(ngModel)]="createUser.usmsyn" name="usmsyn" id="userSmsyn" style="margin-left:180px; margin-top:10px; width:100px;">
                <option value="" disabled selected>SMS로 정보를 수신하시겠습니까?</option>
                <option value="Y">예</option>
                <option value="N">아니오</option>
              </select>
              <label for="userSmsyn">sms 수신여부</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-twitch prefix"></i>
              <select class="mdb-select" [(ngModel)]="createUser.uemailyn" name="uemailyn" id="userEmailyn" style="margin-left:180px; margin-top:10px; width:100px;">
                <option value="" disabled selected>이메일로 정보를 수신하시겠습니까?</option>
                <option value="Y">예</option>
                <option value="N">아니오</option>
              </select>
              <label for="userEmailyn">이메일 수신여부</label>
            </div>
            <div class="text-center mt-2">
              <button type="submit" class="btn btn-info waves-light" id="signUpButton" mdbRippleRadius>가입하기
                <i class="fa fa-sign-in ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- 회원가입모달 끝 -->

  <!-- 아이디 찾기 -->
  <div class="modal fade" id="FindUserIDInfoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!-- 이름,주민등록번호,연락처로 아이디찾기 -->
      <form #FindIdForm="ngForm" (ngSubmit)="FindUserId(FindIdForm)">
        <div class="modal-content">
          <!-- 메뉴타이틀 -->
          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title">
              <i class="fa fa-user-plus"></i>아이디 찾기</h4>
            <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <!-- 입력박스 -->
          <div class="modal-body">
            <div class="md-form form-sm">
              <i class="fa fa-user prefix"></i>
              <input mdbActive type="text" id="FindID_userName" class="form-control" mdbInputValidate [(ngModel)]="findIDUser.uname" name="FindID_uname">
              <label for="FindID_userName">이름</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-phone prefix"></i>
              <input mdbActive type="text" id="FindID_userPhone" class="form-control" mdbInputValidate [(ngModel)]="findIDUser.uphone" name="FindID_uphone">
              <label for="FindID_userPhone">연락처</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-calendar prefix"></i>
              <input mdbActive type="text" id="FindID_userBirth" class="form-control" mdbInputValidate [(ngModel)]="findIDUser.ubirth" name="FindID_ubirth">
              <label for="FindID_userBirth">생년월일</label>
            </div>
            <div class="text-center mt-2">
              <button type="submit" class="btn btn-info waves-light" id="FindID_Button" mdbRippleRadius>아이디찾기
                <i class="fa fa-sign-in ml-1"></i>
              </button>
            </div>
            <br />
            <ng-template [ngIf]="user.uid == null">위 항목들을 작성해주세요</ng-template>
            <ng-template [ngIf]="user.uid != null"><p style="text-align: center; font-weight:bold; font-size:16px;">일치하는 아이디 : {{user.uid}}</p></ng-template>

          </div>
        </div>
      </form>
    </div>
  </div>


  <!-- 비밀번호 찾기 -->
  <div class="modal fade" id="FindUserPWInfoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!-- 아이디,이름,주민등록번호,연락처로 아이디찾기 -->
      <form #FindPwForm="ngForm" (ngSubmit)="FindUserPw(FindPwForm)">
        <div class="modal-content">
          <!-- 메뉴타이틀 -->
          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title">
              <i class="fa fa-user-plus"></i>비밀번호 찾기</h4>
            <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <!-- 입력박스 -->
          <div class="modal-body">
            <div class="md-form form-sm">
              <i class="fa fa-envelope prefix"></i>
              <input mdbActive type="text" id="FindPW_userId" class="form-control"  mdbInputValidate [(ngModel)]="findPWUser.uid" name="FindPW_uid">
              <label for="FindPW_userId">아이디</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-user prefix"></i>
              <input mdbActive type="text" id="FindPW_userName" class="form-control" mdbInputValidate [(ngModel)]="findPWUser.uname" name="FindPW_uname">
              <label for="FindPW_userName">이름</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-phone prefix"></i>
              <input mdbActive type="text" id="FindPW_userPhone" class="form-control" mdbInputValidate [(ngModel)]="findPWUser.uphone" name="FindPW_uphone">
              <label for="FindPW_userPhone">연락처</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-calendar prefix"></i>
              <input mdbActive type="text" id="FindPW_userBirth" class="form-control" mdbInputValidate [(ngModel)]="findPWUser.ubirth" name="FindPW_ubirth">
              <label for="FindPW_userBirth">생년월일</label>
            </div>
            <div class="text-center mt-2">
              <button type="submit" class="btn btn-info waves-light" id="FindPW_Button" mdbRippleRadius>비밀번호찾기
                <i class="fa fa-sign-in ml-1"></i>
              </button>
            </div>
            <br />
            <ng-template [ngIf]="user2.upw == null">위 항목들을 작성해주세요</ng-template>
            <ng-template [ngIf]="user2.upw != null"><p style="text-align: center; font-weight:bold; font-size:16px;">비밀번호 : {{user2.upw}}</p></ng-template>

          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<br>
<br>
<br>
<ng2-toasty></ng2-toasty>
