<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="product-image">
        <div class="view hm-zoom z-depth-2" style="cursor: pointer">
          <img src="./assets/img/{{product.p_img}}.jpg" [alt]="product.p_name" width="100%" class="img-fluid rounded">

        </div>
        <div class="z-depth-1" style="margin-top:15px">
          <ul class="list-group">
            <li class="list-group-item font-weight-bold"> 상품 가격:
              <span style="margin-left:15px; color:crimson">
                <i class="fa fa-inr" aria-hidden="true"></i> {{product.p_sellPrice}}</span>
            </li>
            <li class="list-group-item font-weight-bold"> 상품 판매자:
              <span style="margin-left:15px; color:darkblue">
                <i class="fa fa-building" aria-hidden="true"></i> 토마토마 </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="product-detail z-depth-1">
        <h5 class="product-head font-weight-bold">상품 상세 정보</h5>
        <table class="table" cellspacing="0" style="max-height: 28px">
          <tbody>
            <tr>
              <th scope="row" class="font-weight-bold">상품 이름</th>
              <td>{{product.p_name}}</td>
            </tr>
            <tr>
              <th scope="row" class="font-weight-bold">상품 설명</th>
              <td>{{product.p_content}}</td>
            </tr>
            <tr>
              <th scope="row" class="font-weight-bold">상품 카테고리</th>
              <td>{{product.p_kind}}</td>
            </tr>
            <tr>
              <th scope="row" class="font-weight-bold">구입할 수량</th>
              <td><input [(ngModel)]='pQuantity' />
                <button (click)='pQuantityUp()'><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button (click)='pQuantityDown()'><i class="fa fa-minus" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <li>
        <span>
          <button type="button" class="btn btn-outline-danger waves-effect font-weight-bold"
              (click)="addToCart()">장바구니담기</button>
          <button  type="button" class="btn btn-danger font-weight-bold" (click)="gotoOrderWirte()">구매하기</button>
          </span>
      </li>

    </div>

    <div class="col-sm-2">
    </div>
  </div>
</div>
<br>
<app-product-review></app-product-review>
<br>
<app-product-qna></app-product-qna>
