.product-detail .product-head {
  padding: 10px;
  font-weight: 500;

}

.product-detail .table th {
  width: 152px;
}

.product-ship {
  height: 15rem;
}

// .product-image {
//
//   width: 400px;
//   margin-left: 70px;
//
// }
//
// .col-sm-6{
//   margin-left: 130px;
// }
