<hr class="between-sections">

<ol class="breadcrumb font-weight-bold">
  <li>상품 문의</li>
</ol>

<table class="table table-responsive-md">
  <thead class="amber lighten-3">
  <tr>
    <th>번호</th>
    <th>카테고리</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
    <th>조회</th>
  </tr>
  </thead>

  <tbody>

    <tr *ngFor="let productQna of productQnas | paginate : {itemsPerPage: 10, currentPage : page }">
    <th>{{productQna.pq_no}}</th>
    <th>{{productQna.pq_category}}</th>
    <th>
      <a [routerLink]="['/review']" routerLinkActive="router-link-active"
      (click)="setReviewNo(review.rev_no)">
      {{productQna.pq_title}}
    </a>
    </th>
    <th>{{productQna.u_id}}</th>
    <th>{{productQna.pq_date | date : 'yyyy-MM-dd'}}</th>
    <th>{{productQna.pq_hits}}</th>
    <!-- <p>{{productQna.pq_content}}</p> -->
  </tr>

  </tbody>

</table>
