<table class="table table-responsive-md">
  <thead class="amber lighten-3">
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>내용</th>
    <th>작성자</th>
    <th>날짜</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let qna of qnaList | paginate : {itemsPerPage: 10, currentPage : page }">
      <th>{{qna.q_no}}</th>
      <th>{{qna.q_title}}</th>
      <th>{{qna.q_content}}</th>
      <th>{{qna.u_id}}</th>
      <th>{{qna.q_date | date : 'yyyy-MM-dd-hh-mm-ss'}}</th>
    </tr>
  </tbody>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
</table>
