<hr class="between-sections">

<div class="card card-cascade wider reverse">

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>공지사항</strong></h4>
  </div>

</div>

<hr class="between-sections">

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/index']">Home</a>
  </li>
  <li class="breadcrumb-item">고객센터</li>
  <li class="breadcrumb-item">공지사항</li>
</ol>

<!--Table-->
<table class="table">
    <!--Table head-->
    <thead class="table-success">
        <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr *ngFor="let notice of notices">
            <th scope="row">{{ notice.n_no }}</th>
            <th>{{ notice.n_category }}</th>
            <th><a [routerLink]="['/detail/notice', notices.n_no]" routerLinkActive="router-link-active">
              {{ notice.n_title }}</a>
            </th>
            <th>{{ notice.a_id }}</th>
            <th>{{ notice.n_date }}</th>
            <th>{{ notice.n_hits }}</th>
        </tr>
    </tbody>
    <!--Table body-->
</table>
