<hr class="between-sections">

<div class="card card-cascade wider reverse">

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>공지사항</strong></h4>
  </div>

</div>

<hr class="between-sections">

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/index']">Home</a>
  </li>
  <li class="breadcrumb-item">고객센터</li>
  <li class="breadcrumb-item">공지사항</li>
</ol>

<div id="selectDiv">
  <select (change)="getNoticeByCategory($event.target.value)">
    <option value="" disabled selected>카테고리별 조회</option>
    <option *ngFor="let category of categoryList" [value]="category">
      {{ category }}
    </option>
  </select>
</div>

<!--Table-->
<table class="table">
  <!--Table head-->
  <thead>
    <tr class="cyan lighten-4">
      <th>번호</th>
      <th>카테고리</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>조회수</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody class="view overlay">
    <tr *ngFor="let notice of noticeList | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
      <th scope="row">{{ i+1 }}</th>
      <th>{{ notice.n_category }}</th>
      <th>
        <a [routerLink]="['/detail/notice']" routerLinkActive="router-link-active" (click)="setNoticeNo(notice.n_no)">{{ notice.n_title }}
        </a>
      </th>
      <th>{{ notice.a_id }}</th>
      <th>{{ notice.n_date | date:'yyyy-MM-dd' }}</th>
      <th>{{ notice.n_hits }}</th>
    </tr>
  </tbody>
  <!--Table body-->

</table>
<!-- Pagination -->
<div class="text-center mt-3">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<form class="form-inline mr-auto" (ngSubmit)="searchTerm()">
  <input class="form-control mr-sm-2 w-50 p-1" type="text" placeholder="검색할 제목을 입력해주세요." id="searchInput" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" />
  <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">검색</button>
</form>

<hr class="between-sections">
