<hr class="between-sections">

<div class="card card-cascade wider reverse">

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>상품 후기</strong></h4>
  </div>

</div>

<hr class="between-sections">

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/index']">Home</a>
  </li>
  <li class="breadcrumb-item">상품상세</li>
  <li class="breadcrumb-item">
    상품후기
    <!-- delete : (click)="removeToken()" -->
  </li>
</ol>

<!--Table-->
<table class="table table-bordered">

  <!--Table body-->
  <tbody>
    <tr>
      <th>제목</th>
      <td colspan="3">{{ review?.rev_title }}</td>
    </tr>
    <tr>
      <th>작성자</th>
      <td colspan="3">{{ review?.u_id }}</td>
    </tr>
    <tr>
      <th>작성일</th>
      <td>{{ review?.rev_date | date:'yyyy-MM-dd' }}</td>
      <th>조회수</th>
      <td>{{ review?.rev_hits }}</td>
    </tr>
    <tr>
      <td colspan="4">
        <pre>{{ review?.rev_content }}</pre>
      </td>
    </tr>
  </tbody>
  <!--Table body-->

</table>
<!--Table-->

<button type="button" class="btn btn-outline-danger waves-effect" *ngIf="u_id == review.u_id" id="delete_button" (click)="deleteReview()">
  삭제
</button>

<button type="button" class="btn btn-outline-info waves-effect" id="update_button" *ngIf="u_id == review.u_id" [routerLink]="['/products/productreview/update']" (click)="setReviewObject()" >수정</button>


<button type="button" class="btn btn-outline-info waves-effect" id="back_button"  [routerLink]="['/products/product', review.p_code]">목록
  <!-- (click)="removeToken()" -->
</button>

<br>
<br>
