<!-- Nav tabs -->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark danger-color indigo scrolling-navbar">
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': select==='상품 관리'}" (click)="select='상품 관리'">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/admin', {outlets: {'adminOutlet': ['product']}}]">상품 관리
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': select==='주문 관리'}" (click)="select='주문 관리'">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/admin', {outlets: {'adminOutlet': ['order']}}]">주문 관리</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': select==='배너 관리'}" (click)="select='배너 관리'">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/admin', {outlets: {'adminOutlet': ['banner']}}]">배너 관리</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': select==='게시판 관리'}" (click)="select='게시판 관리'">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/admin', {outlets: {'adminOutlet': ['board']}}]">게시판 관리</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': select==='직원 관리'}" (click)="select='직원 관리'">
        <a class="nav-link waves-light" mdbRippleRadius   [routerLink]="['/admin', {outlets: {'adminOutlet': ['employee']}}]">직원 관리</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!-- Tab panels -->
<router-outlet name="adminOutlet"></router-outlet>
