<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
    <a [routerLink]="['/admin', {outlets: {'adminOutlet': ['product']}}]"><li class="list-group-item">상품 관리</li></a>
    </li>
    <li class="nav-item"><a [routerLink]="['/admin', {outlets: {'adminOutlet': ['order']}}]"><li class="list-group-item">주문 관리</li></a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/admin', {outlets: {'adminOutlet': ['banner']}}]"><li class="list-group-item">배너 관리</li></a>
    </li>
    <li class="nav-item">  <a [routerLink]="['/admin', {outlets: {'adminOutlet': ['employee']}}]"><li class="list-group-item">직원 관리</li></a>
    </li>
</ul>
<!-- Tab panels -->
<div class="tab-content card">
    <router-outlet name="adminOutlet"></router-outlet>
</div>
