<ng2-smart-table
    [settings]="settings"
    [source]="adminList"
    (createConfirm)="createAdmin($event)"
    (editConfirm)="updateAdmin($event)">
</ng2-smart-table>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <h1 id="navState">{{navState}}</h1>
  <table class="table" cellspacing="0" style="max-height: 28px" *ngIf="navState==='직원 등록'">
    <tbody>
      <tr>
        <th class="cyan lighten-4">패스워드</th>
        <td colspan="4">
          <input type="password" id="exampleForm1" class="form-control" required [(ngModel)]="navAdmin.a_pw" [ngModelOptions]="{standalone: true}" />
        </td>
      </tr>
      <tr>
        <th class="cyan lighten-4">패스워드 확인</th>
        <td colspan="4">
          <input type="password" id="exampleForm2" class="form-control" required [(ngModel)]="apw2" [ngModelOptions]="{standalone: true}" />
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" (click)="confirmCreate()" *ngIf="navState==='직원 등록'">등록</button>
  <button type="button" class="btn btn-primary" (click)="closeNav()">취소</button>
</div>
