<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <link src="http://bootswatch.com/flatly/bootstrap.css" type="text/css"> -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <div class="row">
      <!-- 세개 다 같은 넓이로 하려면 col-md-4 로 통일하면됨 -->
        <div class="col-xs-6 col-md-3" >

            <div class="panel status panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">주문취소</h1>
                </div>
                <div class="panel-body text-center">
                    <strong>n건</strong>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-md-3">

            <div class="panel status panel-warning" >
                <div class="panel-heading">
                    <h1 class="panel-title text-center">주문완료</h1>
                </div>
                <div class="panel-body text-center">
                    <strong>n건</strong>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-md-6">

            <div class="panel status panel-success" >
                <div class="panel-heading">
                    <h1 class="panel-title text-center">전체주문상태</h1>
                </div>
                <div class="panel-body text-center">
                    <strong>n건</strong>
                </div>
            </div>


        </div>
        <!--
        <div class="col-xs-6 col-md-3">

            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">18</h1>
                </div>
                <div class="panel-body text-center">
                    <strong>Never Die</strong>
                </div>
            </div>


        </div> -->
    </div>



<hr>
