<!-- 여기링크된 부트스트랩이 원래 쓰고있던 부트스트랩링크와 달라서 기존에있던것들이 사이즈가 달라짐. -->
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<h6 style="text-align:right; font-weight:bold; color:#232BDB; font-size:16px;">마이페이지 > 주문목록</h6>
<br />

<!-- <link src="http://bootswatch.com/flatly/bootstrap.css" type="text/css"> order 건수 표시 -->
<!------ Include the above in your HEAD tag ---------->
    <div class="row">
      <!-- 세개 다 같은 넓이로 하려면 col-md-4 로 통일하면됨 -->
        <div class="col-xs-6 col-md-3" >
            <div class="card text-center" style="border:1px solid #A94442">
                <div class="card-header" style="background:#F2DEDE;">
                    <h3 class="panel-title text-center" style="color:#A94442; font-size:18px;">주문취소</h3>
                </div>
                <div class="card-body">
                    <strong>{{OrderCancle}}건</strong>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="card text-center" style="border:1px solid #8A6D3B">
                <div class="card-header" style="background:#FCF8E3;">
                    <h3 class="panel-title text-center" style="color:#8A6D3B; font-size:18px;">주문완료</h3>
                </div>
                <div class="card-body">
                    <strong>{{OrderCommit}}건</strong>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="card text-center" style="border:1px solid #31708F">
                <div class="card-header" style="background:#D9EDF7;">
                    <h3 class="panel-title text-center" style="color:#31708F; font-size:18px;">총 주문</h3>
                </div>
                <div class="card-body">
                    <strong>{{orderNum}}건</strong>
                </div>
            </div>
        </div>
    </div> <!--orderlist 끝-->

    <!-- 새 컨텐츠 -->

<hr>
