<hr class="between-sections">

<ol class="breadcrumb font-weight-bold">
  <li>상품 후기</li>
</ol>

<table class="table table-responsive-md">
  <thead class="amber lighten-3">
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
    <th>조회</th>
  </tr>
  </thead>

  <tbody>

    <tr *ngFor="let review of reviews | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
    <th>{{i+1}}</th>
    <th>
      <a [routerLink]="['/products/review', review.rev_no]" routerLinkActive="router-link-active"
      (click)="setReviewNo(review.rev_no)">
      {{review.rev_title}}
    </a>
    </th>
    <th>{{review.u_id}}</th>
    <th>{{review.rev_date | date : 'yyyy-MM-dd'}}</th>
    <th>{{review.rev_hits}}</th>
    <p>{{review.review_content}}</p>
  </tr>

  </tbody>

  <div class="text-center mt-3">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>



  <button type="button" class="btn btn-outline-info waves-effect" id="qna_button"
    [routerLink]="['/products/productreview/write']">후기쓰기
  </button>

</table>
