<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">
          <a [routerLink]="['/users']">회원 정보 수정</a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['favourite-products']}}]">WishList</a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['cart-items']}}]">장바구니</a>
        </li>

        <li class="list-group-item list-group-item-action">
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['order-write']}}]">orderwirte 나중에 상품상세쪽으로</a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['order-list']}}]">orderlist 나중에 Mypage쪽으로</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <router-outlet name="profileOutlet"></router-outlet>
    </div>
  </div>
</div>
