<!--Section: Products v.2-->
<section class="section pb-3">

  <div class="row">
    <div class="col-md-6">
      <blockquote class="blockquote float-left bq-primary">
        <h3 class="bq-title">Our Best Products</h3>
      </blockquote>
    </div>
    <div class="col-md-6">
      <a class="btn btn-default font-weight-bold float-right" [routerLink]="[ '/products/all-products' ]">View All</a>
    </div>
  </div>
  <owl-carousel [options]="options" [items]="productList" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <!--First column-->
    <div class="item" style="padding:20px" *ngFor="let product of productList; let i = index">
      <div class=" mb-r">

        <!--Card-->
        <div class="card card-cascade wider">

          <!--Card image-->
          <a [routerLink]="['/products/product', product.p_code]" routerLinkActive="router-link-active"
              (click)="setProductCode(product.p_code)">
            <div class="view overlay hm-white-slight">
              <img src="./assets/img/{{product.p_img}}.jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
          </a>
        </div>
        <!--/.Card-->
      </div>
      <!--/First column-->
    </div>
  </owl-carousel>
</section>
<!--Section: Products v.2-->
